@using System.Text
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4></h4>
<p>Use this area to provide additional information.</p>
@foreach (var item in Enumerable.Range(0, 10))
{
    if (DateTime.UtcNow.Year == 2018) { <h1>@item</h1> }
}

@section MenuItems
{
    @if (true)
    {
        <li><a href="http://maps.google.bg/">Maps</a></li>
        <li><a href="http://maps.bg/">BG Maps</a></li>
    }
}

@section Scripts
{
    <script>

    </script>
}
